.menu-toggle
  position: fixed

mat-tree
  width: 30%
  height: 100vh

ul, li
  margin-top: 0
  margin-bottom: 0
  list-style-type: none

.node-invisible
  display: none

.mat-tree-node
  &__arrow
    transition: all .3s linear
    &--opened
      transform: rotate(90deg)

.mat-nested-tree-node div[role=group]
  padding-left: 20px

div[role=group] > .mat-tree-node
  padding-left: 50px
